@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}


@if (!Html.ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}

<a href="/">← Go back</a>

<div class="auth-wrapper">
    <div class="card auth-content mb-0">
        <div class="card-body py-5">
            <div class="text-center mb-5">
                <h3 class="mb-3 text-primary">DirectSync</h3>
                <div class="font-18 text-center">Create a new Account.</div>
            </div>
            <form id="account" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="mb-4">
                    <div class="md-form mb-0">
                        <input asp-for="Input.Email" id="email" class="md-form-control">
                        <label asp-for="Input.Email" id="label-email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="md-form mb-0">
                        <input asp-for="Input.Password" id="password" class="md-form-control">
                        <label asp-for="Input.Password" id="label-password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="md-form mb-0">
                        <input asp-for="Input.ConfirmPassword" id="confirm-password" class="md-form-control">
                        <label asp-for="Input.ConfirmPassword" id="label-confirm">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <button class="btn btn-primary btn-rounded btn-block" type="submit">Register</button>
            </form>
            <div class="text-center mt-5 font-13">
                <div class="mb-2 text-muted">2019 © All rights reserved</div>
                <div>See<a class="hover-link ml-2" href="#" style="border-bottom: 1px solid">Privacy Policy</a></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
